################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicCodingChallenges/.vs/BasicCodingChallenges
/.vs
